<h1>Edición de categoría de dispositivo</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<p><a href="{% if id is defined %}../{% endif %}list">Volver a lista de categorías de dispositivos-</a></p>

