<!-- To the right -->
    <div class="pull-right hidden-xs">
      <a href="http://www.us.es/">Universidad de Sevilla</a>.
    </div>
    <!-- Default to the left -->
    <strong>&copy; 2017 <a href="http://www.institucional.us.es/soporteav">Medios Audiovisuales Unidad Pirotecnia</a>.</strong>